body {
    background-image: url("../images/login-background.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main {
    position: relative;
}

.box {
    background-color: azure;
    border: 7px solid bisque;
    border-radius: 10%;
    height: 375px;
    width: 400px;
	transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.box p {
    text-align: center;
	padding-top: 25px;
}

.box h3 {
    text-align: center;
}

.GameModeButton {
	display: flex;
    justify-content: center;
	padding-top: 50px;
}

.GameButton{
	font-size: 17px;
	font-family: courier;
	background:white;
	border: 2px solid bisque;
	border-radius: 10%;
}

.GameButton:hover{ 
	background-color:#FF4500;
}