html, body{
	height: 100%;
	margin: 0;
}

div{
	height: 100%;
}

.left-tab{
	text-align: center;
	background-color: #888c8c;
	width: 20%;
	float: left;
}

.board {
	background-color: black;
	width: 60%;
	float: left;
}

.innerBoard {
	background-color: black;
	width: 90%;
	height: 84.5%;
	float: left;
	margin: 2.3%;
	/*border-style: Solid;
	border-color: dark gray;*/
}

.right-tab{
	text-align: center;
	background-color: black;
	width: 20%;
	float: right;
}

.title{
	background-color: #cc1616;
	height: 50px;
}

.skip-button{
	position: absolute;
	bottom: 20%;
	left: 4%;
}

.player{
	height: 15%;
	margin: 5%;
}

.square {
	background: gray;
	width: 10%;
	height: 10%;
	border-style: dashed;
	border-color: dark gray;
}

.square h1 {
	color: black;
	font-size: 100%;
	text-align: center;
}

.blanksquare {
	background: navy;
	width: 10%;
	height: 10%;
	border-style: solid;
	border-color: dark gray;
}

.blanksquare h1 {
	color: black;
	font-size: 100%;
	text-align: center;
}